In [1]:
#1.Develop a code for below scenario.

y=int(input("enter year:"))
r=y%12
d={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(d[r])

enter year:2020
rat

In [61]:
#2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. 
#The charges (Amount) to be calculated as per rates given below. 
    a=int(input("distance to be travel:"))
    b=int(input("weight of the goods:"))
    if a>=500:
        if b>=100:
            c=a*5
        elif b>=10 and b<=100:
            c=a*6
        else: 
            c=a*7
    elif a<500: 
        if b>=100:
            c=a*8
        else:
            c=a*5
    print("amount to be charged:",c)

distance to be travel:560
weight of the goods:50
amount to be charged: 3360

In [6]:
#4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
        #Q = M * (finalTemperature – initialTemperature) * 4184.
       #where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules.
    

m=int(input("amount of water:"))
i=int(input("initial temperature:"))
f=int(input("final temperature:"))
t=f-i
Q=m*t*4184
print(Q,"joules")

amount of water:15
initial temperature:35
final temperature:85
3138000 joules

In [3]:
#5.	Develop a program that prompts user to enter month and  print 
#a.	“Winter ” -   December ,January and February
#b.	“Spring”  -   March ,April and May
#c.	“Summer”  --- June ,July, August
#d.	“Autumn ”  -- September ,October, November

z=input("enter month:")
if y=="december" or y=="january" or y=="february":
    print("winter")
elif y=="march" or y=="april" or y=="may":
    print("spring")
elif y=="june" or y=="july" or y=="august":
    print("summer")
else:
    print("Autumn")

enter month:january
Autumn

In [68]:
#6.BODY MASS INDEX.
w=float(input("enter weight in pounds"))
h=float(input("enter height in inches"))
c=w*0.45359237
d=h*0.0254
BMI=c/(d*d)
if BMI<18.5:
    print("Underweight")
elif BMI<25.0 and BMI>=18.5:
    print("Normal")
elif BMI<30.0 and BMI>=25.0:
    print("overweight")
else:
    print("Obese")

enter weight in pounds250
enter height in inches50
Obese

In [74]:
#7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 
n=int(input("enter number between 100 and 1000:"))
s=0
while n>0:
    x=n%10
    s=s+x
    n=(n//10)
print(s)

enter number between 100 and 1000:768
21

In [10]:
#8.Print all palindrome numbers between 1 to 1000.
i=1
for i in range(1000):
    temp=i
    r=0
    while temp:
        rem=temp%10
        temp=temp//10
        r=r*10+rem
    if i==r:
        print("palindrome number:",i)

palindrome number: 0
palindrome number: 1
palindrome number: 2
palindrome number: 3
palindrome number: 4
palindrome number: 5
palindrome number: 6
palindrome number: 7
palindrome number: 8
palindrome number: 9
palindrome number: 11
palindrome number: 22
palindrome number: 33
palindrome number: 44
palindrome number: 55
palindrome number: 66
palindrome number: 77
palindrome number: 88
palindrome number: 99
palindrome number: 101
palindrome number: 111
palindrome number: 121
palindrome number: 131
palindrome number: 141
palindrome number: 151
palindrome number: 161
palindrome number: 171
palindrome number: 181
palindrome number: 191
palindrome number: 202
palindrome number: 212
palindrome number: 222
palindrome number: 232
palindrome number: 242
palindrome number: 252
palindrome number: 262
palindrome number: 272
palindrome number: 282
palindrome number: 292
palindrome number: 303
palindrome number: 313
palindrome number: 323
palindrome number: 333
palindrome number: 343
palindrome number: 353
palindrome number: 363
palindrome number: 373
palindrome number: 383
palindrome number: 393
palindrome number: 404
palindrome number: 414
palindrome number: 424
palindrome number: 434
palindrome number: 444
palindrome number: 454
palindrome number: 464
palindrome number: 474
palindrome number: 484
palindrome number: 494
palindrome number: 505
palindrome number: 515
palindrome number: 525
palindrome number: 535
palindrome number: 545
palindrome number: 555
palindrome number: 565
palindrome number: 575
palindrome number: 585
palindrome number: 595
palindrome number: 606
palindrome number: 616
palindrome number: 626
palindrome number: 636
palindrome number: 646
palindrome number: 656
palindrome number: 666
palindrome number: 676
palindrome number: 686
palindrome number: 696
palindrome number: 707
palindrome number: 717
palindrome number: 727
palindrome number: 737
palindrome number: 747
palindrome number: 757
palindrome number: 767
palindrome number: 777
palindrome number: 787
palindrome number: 797
palindrome number: 808
palindrome number: 818
palindrome number: 828
palindrome number: 838
palindrome number: 848
palindrome number: 858
palindrome number: 868
palindrome number: 878
palindrome number: 888
palindrome number: 898
palindrome number: 909
palindrome number: 919
palindrome number: 929
palindrome number: 939
palindrome number: 949
palindrome number: 959
palindrome number: 969
palindrome number: 979
palindrome number: 989
palindrome number: 999

In [9]:
#10.	Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".
n=int(input("enter number"))
if   n%3==0:
    print("Fizz")
elif  n%5==0:
         print("Buzz")
elif n%5==0 and n%3==0:
         print("Fizz Buzz")

enter number3
Fizz

In [8]:
#3.A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 
#Input: 	Type of Seat: Circle    
#Payment mode: cash
#Output: Cost of ticket: 675
a=input("enter type of seat:")
b=input("Payment mode:")
if  b=="cash":
    if a=="stalls":
        c=625-(625*0.1)
    elif a=="circle":
        c=750-(750*0.1)
    elif a=="Upperclass":
        c=850-(850*0.1)
    else:
        c=1000-(1000*0.1)
else:
    if a=="stalls":
        c=625-(625*0.05)
    elif a=="circle":
        c=750-(750*0.05)
    elif a=="Upperclass":
        c=850-(850*0.05)
    else:
        c=1000-(1000*0.05)
print("cost of ticket:",c)

enter type of seat:circle
Payment mode:cash
cost of ticket: 675.0

In [1]:
#9.Print all Armstrong numbers between 1 to 1000.
i=1
c=0
for i in range(1000):
    temp=i
    sum=0
    while temp!=0:
        d=temp%10
        c=d*d*d
        sum=sum+c
        temp=temp//10
    
    if sum==i:
        print(i)

0
1
153
370
371
407